body {
	background: #2F4550;
}

h1 {
	color: #79C4A7;
	text-align: center;
}

p {
	color: #ffffff;
	text-align: center;
	font-family: 'CustomFont', Avenir, sans-serif;
	font-weight:normal;
	font-style:normal;
}